@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* Global Styles */
:root {
  --primary-color: #0078e7;
  --color-white: #fff;
  --light-color-1: #f9f9f9;
  --light-color-2: #f6f6f6;
  --dark-color: #333;
  /* --danger-color: #dc3545; */
  /* --success-color: #28a745; */
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--dark-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Utilities */
.container {
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Background */
.bg-primary {
  background: var(--primary-color);
  color: var(--color-white);
}

.bg-light-1 {
  background: var(--light-color-1);
}

.bg-light-2 {
  background: var(--light-color-2);
}

/* Button */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: var(--color-white);
  padding: 1rem 1.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.navbar h1 {
  margin: 0.3rem 0;
  font-weight: 700;
  font-size: 3rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--color-white);
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--light-color-1);
}

.card {
  padding: 3rem;
  box-shadow: 0.5px 1px 3px rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
  width: 50%; /*Subject to change */
}

.card > *,
.card ul li {
  margin-bottom: 2rem;

}

.card > *:last-child,
.card ul li:last-child {
  margin-bottom: 0;
}

.card ul li i {
  margin-right: 1.4rem;
  font-size: 1.8rem;
}

@media (max-width: 700px) {
  .card {
    padding: 2rem;
    margin: 1rem 0;
    width: 90%;
  }

  .card > *,
  .card ul li {
    margin-bottom: 1.6rem;
  }

  .card ul li i {
    margin-right: 0.7rem;
    font-size: 1.6rem;
  }
}
