@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* Global Styles */
:root {
  --primary-color: #0078e7;
  --color-white: #fff;
  --light-color-1: #f9f9f9;
  --light-color-2: #f6f6f6;
  --dark-color: #333;
  /* --danger-color: #dc3545; */
  /* --success-color: #28a745; */
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--dark-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
